.login {
    width: 90px;
    color: black;
    font-weight: bold;
    font-size: 17px;
}

.rectangle {
    margin-top: 1rem;
    height: 600px;
    background: #ffffff;
}

.loginSignupForm {
    /* padding: 9rem 3rem 0 3rem; */
    padding-top: 4rem;
    margin: auto;
    display: block;
}

.loginSignupForm h2 {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;

}

.loginSignupForm .or {
    font-size: 16px;
    padding: 0px 10px;
    position: relative;
    top: -4px;
    letter-spacing: 0.105em;
}

.or {
    color: #B9B9B9;
}

.loginSignupForm .signup {
    color: #B9B9B9;
}

.name {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

.email {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

input[type="text"] {
    border-radius: 4px;
    margin-bottom: 46px;
}

input[type="email"] {
    border-radius: 4px;
    margin-bottom: 46px;
}

.password {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

.forgotpassword a {
    color: #000;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;

}

input[type="password"] {
    border-radius: 4px;
    margin-bottom: 50px;
}

.signin {
    cursor: pointer;
    color: #000;
    text-decoration: underline;
}

.signup {
    cursor: pointer;
}

.loginSignupForm .signinBtn {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #fff;
    font-weight: 600;
    padding: 10px 40px;
    letter-spacing: 0.105rem;
    border-radius: 5px;
    width: 100%;

}

.loginSignupForm .signinBtn:hover {
    background-color: #21232b;
    color: #fff;

}

.signUpForFree {
    font-family: 'Poppins', sans-serif;
}


.facebook img {
    height: 60px;
}

.google img {
    height: 60px;
}